body{
    text-align: center;
    background-image: url(table.jpg);
    background-repeat: repeat;
    background-size: cover;
    

}



h1{
    margin-bottom: 50px;
    font-size: 75px;
    color: goldenrod;
    text-shadow: -2px 2px 3px white;
    
}

h2{
    font-style: italic;
    font-weight: bold;
    color: aliceblue;
    text-shadow: -2px 2px 3px goldenrod;
    font-size: 30px;
    
}

#message-el{
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    color: aliceblue;
    font-size: 35px;
    text-shadow: -2px 2px 3px goldenrod ;
    
}

button{
    width: 150px;
    padding: 10px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    background-color: gold;
    font-size: large;
    color: white;
    /* margin-top: 50px; */

}

button:hover{
    background-color: aliceblue;
    color: goldenrod;
}

#button_class{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    
}

#player-el{
    margin-top: 50px;
    font-size: 35px;
    font-style: bold;
    font-weight: bold;
    color: aliceblue;
    font-size: 35px;
    text-shadow: -2px 2px 3px goldenrod;
}
